.navbar {
    overflow: hidden;
    background-color: #1f8c43
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}